<%= javascript_include_tag :defaults %>
<div class="container">
  <% action_url = @user.new_record? ? users_create_url() : users_update_url(@user) %>
    
    <%= form_tag(action_url) do %>
      <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger"><%= msg %></div>
        <% end %>
      <% end %>
      <% if @order.errors.any? %>
        <% @order.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger"><%= msg %></div>
        <% end %>
      <% end %>
  
  <div id="main_cont">
    <div class="form-group" style="width: 400px;">
      <%= text_field_tag "user[name]", nil, :class => 'form-control', :placeholder => "Имя"%><br>
      <%= text_field_tag "user[surname]",nil, :class => 'form-control', :placeholder => "Фамилия"%>
    </div>
    <div class="input-group" style="width: 400px">
      <span class="input-group-addon">+7</span>
      <%= text_field_tag "user[phone]",nil, :class => 'form-control', :id => "autocomplete", :placeholder => "Телефон"%>
    </div><br>
      
    <div class="row" style="width: 600px">
      <div class="col-lg-6">
        <div class="input-group input-group-lg">
          <span class="input-group-addon">
            <%= check_box_tag "user[status]" %>
          </span>
          <input type="text" class="form-control" value='Пенсионер/студент' disabled>
        </div>
      </div>
    </div>

      <h4>Количество загрузок стирки:</h4>
      <div class="col-lg-6" style="width: 190px">
        <div class="input-group input-group-lg">
          <span class="input-group-btn">
            <button class="btn btn-default butt_minus" type="button">-</button>
          </span>
          <%=text_field_tag "order[zagr_stirka]", 0, :class => 'form-control'%>
          <span class="input-group-btn">
            <button class="btn btn-default butt_plus" type="button">+</button>
          </span>
        </div>
      </div>
  <br>
      <br><h4>Количество загрузок сушки:</h4>
      <div class="col-lg-6" style="width: 190px">
        <div class="input-group input-group-lg">
          <span class="input-group-btn">
            <button class="btn btn-default butt_minus" type="button">-</button>
          </span>
          <%=text_field_tag "order[zagr_sushka]", 0, :class => 'form-control'%>
          <span class="input-group-btn">
            <button class="btn btn-default butt_plus" type="button">+</button>
          </span>
        </div>
      </div><p><br><br><br>
      <h4>Заказы:</h4>
      
      <%= render partial: "accordion" %>


      <br><%= text_area_tag "order[other]",nil, :class => "form-control", :placeholder => "Комментарии", :style => "width: 400px", :rows =>'3' %><br><br>
      <div id = "orders">
      </div>

    <div class="row" style="width: 500px">
      <div class="col-lg-6">
        <div class="input-group input-group-lg">
          <span class="input-group-addon">
            <%= check_box_tag "order[nal]" %>
          </span>
          <input type="text" class="form-control" value='Наличные' disabled>
        </div>
      </div>
    </div><br>
      <%= submit_tag "Готово", :class => "btn btn-success" %>
      <%= link_to 'Назад', users_path, :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>