<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Номер заказа</Data></Cell>
        <Cell><Data ss:Type="String">Имя</Data></Cell>
        <Cell><Data ss:Type="String">Фамилия</Data></Cell>
        <Cell><Data ss:Type="String">Телефон</Data></Cell>
        <Cell><Data ss:Type="String">Статус клиента</Data></Cell>
        <Cell><Data ss:Type="String">Дата</Data></Cell>
        <Cell><Data ss:Type="String">Время</Data></Cell>
        <Cell><Data ss:Type="String">Стирки</Data></Cell>
        <Cell><Data ss:Type="String">Сушки</Data></Cell>

        <Cell><Data ss:Type="String">Ариель гель</Data></Cell>
        <Cell><Data ss:Type="String">Фрош гель</Data></Cell>
        <Cell><Data ss:Type="String">Персил гель</Data></Cell>
        <Cell><Data ss:Type="String">Дрефт</Data></Cell>
        <Cell><Data ss:Type="String">Ариель порошок</Data></Cell>
        <Cell><Data ss:Type="String">Тайд порошок</Data></Cell>
        <Cell><Data ss:Type="String">Ушастый нянь порошок</Data></Cell>
        <Cell><Data ss:Type="String">Фрош порошок</Data></Cell>
        <Cell><Data ss:Type="String">Пуховик короткий</Data></Cell>
        <Cell><Data ss:Type="String">Пуховик длинный</Data></Cell>
        <Cell><Data ss:Type="String">Плед</Data></Cell>
        <Cell><Data ss:Type="String">Куртка синтепон</Data></Cell>
        <Cell><Data ss:Type="String">Спальник</Data></Cell>
        <Cell><Data ss:Type="String">Одеяло</Data></Cell>
        <Cell><Data ss:Type="String">Кондиционер</Data></Cell>
        <Cell><Data ss:Type="String">Ванишь</Data></Cell>
        <Cell><Data ss:Type="String">Асе</Data></Cell>
        <Cell><Data ss:Type="String">Полотенце маленькое</Data></Cell>
        <Cell><Data ss:Type="String">Полотенце большое</Data></Cell>
        <Cell><Data ss:Type="String">Сорочка мужская</Data></Cell>
        <Cell><Data ss:Type="String">Юбка женская короткая</Data></Cell>
        <Cell><Data ss:Type="String">Брюки со стрелкой</Data></Cell>
        <Cell><Data ss:Type="String">Платье</Data></Cell>
        <Cell><Data ss:Type="String">Пиджак</Data></Cell>
        <Cell><Data ss:Type="String">Кардиган, пуловер</Data></Cell>
        <Cell><Data ss:Type="String">Простое фасонное белье</Data></Cell>
        <Cell><Data ss:Type="String">Сложное фасонное белье</Data></Cell>
        <Cell><Data ss:Type="String">Шторы</Data></Cell>
        <Cell><Data ss:Type="String">Простынь 1-1.5 спальная</Data></Cell>
        <Cell><Data ss:Type="String">Пододеяльник 1-1.5 спальный</Data></Cell>
        <Cell><Data ss:Type="String">Наволочка</Data></Cell>
        <Cell><Data ss:Type="String">Пододеяльник 2-х спальный</Data></Cell>
        <Cell><Data ss:Type="String">Простынь 2-х спальная</Data></Cell>
       
        <Cell><Data ss:Type="String">Оплата</Data></Cell>
        <Cell><Data ss:Type="String">Сумма(рубли)</Data></Cell>
        <Cell><Data ss:Type="String">Комментарии</Data></Cell>
      </Row>
    <% @orders_all.each do |order| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= order.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.user.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.user.surname %></Data></Cell>
        <Cell><Data ss:Type="String">8<%= order.user.phone %></Data></Cell>
        <% if order.user.status %>
          <Cell><Data ss:Type="String">Студент/пенсионер</Data></Cell>
        <% else %>
          <Cell><Data ss:Type="String">Без льгот</Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String"><%= order.created_at.strftime('%d.%m.%Y')%></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.created_at.strftime('%H:%M:%S')%></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.zagr_stirka %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.zagr_sushka %></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(3, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(4, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(5, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(6, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(7, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(8, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(17, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(18, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(19, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(20, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(21, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(22, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(23, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(24, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(25, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(26, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(27, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(28, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(29, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(30, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(31, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(32, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(33, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(34, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(35, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(36, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(37, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(38, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(39, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(40, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(41, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(42, order)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= items_count(43, order)%></Data></Cell>
        <% if order.nal %>
          <Cell><Data ss:Type="String">Наличные</Data></Cell>
        <% else %>
          <Cell><Data ss:Type="String">Безналичный</Data></Cell>
        <% end %>
        <Cell><Data ss:Type="Number"><%= order.sum %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.other %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

