<div class="page-header"><h1>Список заказов</h1></div>
<%= link_to 'Показать все заказы', users_path, :class => "btn btn-default" %>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Телефон</th>
      <th>Статус</th>
      <th>Готовность</th>
      <th>Сумма</th>
      <th>Дата заказа</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <div class="man">
        <tr>
        <%if order.created_at.to_date==Date.current then %>
          <td><%= order.user.name %></td>
          <td><%= order.user.surname %></td>
          <td>+7<%= order.user.phone %></td>
          <% if (order.user.status) then %>
          <td>Студент/пенсионер</td>
          <% else %>
          <td>Без льгот</td>
          <% end %>
          <%if order.status  then%>
            <td>Заказ готов</td>
          <% else %>
            <td>Заказ не готов</td>
          <% end %>
          <td><%= order.sum %> рублей</td>
          <td><%= link_to 'Показать заказ', order.user %></td>
          <td><%= link_to 'Удалить заказ', order.user, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        </tr>
      </div>
      <% end %>
      <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Новый заказ', new_user_path, :class => 'btn btn-success' %>