<div class='container'><p id="notice"><%= notice %></p>

<p>
  <h4>Имя:</h4>
  <%= @order.user.name %>
</p>

<p>
  <h4>Фамилия:</h4>
  <%= @order.user.surname %>
</p>

<p>
  <h4>Телефон:</h4>
  +7 <%= @order.user.phone %>
</p>
<h4>Статус:</h4>
<% if @order.user.status then %>
  Пенсионер/студент
<% else %>
  Без льгот
<% end %>
<p>
  <h4>Комментарии:</h4>
  <%= @order.other %>
</p>
<p>
  <h4>Заказы:</h4>
  <% @order.items.each do |f| %>
  <i><%= f.name %>:</i>
  <% if @order.user.status then %>
  <b><%= f.cost_student %> рублей<br></b>
  <% else %>
  <b><%= f.cost %> рублей<br></b>
  <% end %>
  <% end %>
  <% if @order.user.status then %>
    <i><%= @order.zagr_stirka %> загрузок стирки:</i> <b><%= @order.zagr_stirka*Item.find(1).cost_student %> рублей</b><br>
    <i><%= @order.zagr_sushka %> загрузок сушки:</i> <b><%= @order.zagr_sushka*Item.find(2).cost_student %> рублей</b><br>
    <% else %>
     <%= @order.zagr_stirka %> загрузок стирки <%= @order.zagr_stirka*Item.find(1).cost %> рублей<br>
    <%= @order.zagr_sushka %> загрузок сушки <%= @order.zagr_sushka*Item.find(2).cost %> рублей<br>
  <% end %>
<p>  
<h5>Сумма:</h5>
  <%= @order.sum %> рублей, 
<% if @order.nal then %>
  <i><b>оплата наличными</b></i>
<% else %>
  <i><b>безналичная оплата</b></i>
<% end %>
</p>
<% if @order.status then %>
  <h4>Заказ готов</h4>
<% else %>
  <h4>Заказ не готов</h4>
<% end %>
<i>Количество заказов у этого человека:</i> <b><%= @order.user.orders.size %></b><br><br>
<%= link_to 'Готово', users_path, :class => 'btn btn-success' %>
<%= link_to "Сгенерировать чек", tab_path(@order.id), :class => 'btn btn-warning', :target => "_blank" %>
</div>