<div class="container">
<p><center><h2>КВИТАНЦИЯ</h2>
<h3>принято без осмотра и пересчета</h3></center></p>
<h4>№ <b><%= @order.id %></b>
 <div style="float:right"><%= @order.created_at.to_formatted_s(:db) %></div><br><br>
<center><i><%= @order.user.surname %> <%= @order.user.name %> 8<%= @order.user.phone %></i></center>
<hr style = "border-top: 1px solid black;">
<% if @order.user.status then %>
<center>
    <div class="col_left"><i>Стирка</i></div> <div class="col_center"><%= @order.zagr_stirka %>*<%= Item.find(1).cost_student %> <b><div class="col_right"><%= @order.zagr_stirka*Item.find(1).cost_student %> рублей</div></b></div><br>
    <i><div class="col_left">Сушка</div></i> <div class="col_center"><%= @order.zagr_sushka %>*<%= Item.find(2).cost_student %> <b><div class="col_right"><%= @order.zagr_sushka*Item.find(2).cost_student %> рублей</div></b></div><br>
    <% @hash = Hash.new() %>
    <% @order.items.each do |order| %>
      <% if @hash[order.id].nil? %>
        <% @hash[order.id] = 1 %>
      <% else %>
        <% @hash[order.id] += 1 %>
      <% end %>
    <% end %>
    <% @hash.each do |key, value| %>
      <i><div class="col_left"><%= Item.find(key).name %></div></i> <div class="col_center"><%= value %>*<%= Item.find(key).cost_student %> <b><div class="col_right"><%= Item.find(key).cost_student * value.to_i%> рублей</div></b></div><br>
    <% end %>
    </center>
    <% else %>
     <div class="col_block"><i><div class="col_left">Стирка</div></i> <div class="col_center"><%= @order.zagr_stirka %>*<%= Item.find(1).cost %> <b><div class="col_right"><%= @order.zagr_stirka*Item.find(1).cost %> рублей</div></b></div></div><br>
    <i><div class="col_left">Сушка</div></i> <div class="col_center"><%= @order.zagr_sushka %>*<%= Item.find(2).cost %> <div class="col_right"><b><%= @order.zagr_sushka*Item.find(2).cost %> рублей</b></div></div><br>
    <% @hash = Hash.new() %>
    <% @order.items.each do |order| %>
      <% if @hash[order.id].nil? %>
        <% @hash[order.id] = 1 %>
      <% else %>
        <% @hash[order.id] += 1 %>
      <% end %>
    <% end %>
    <% @hash.each do |key, value| %>
      <div class="col_left"><i><%= Item.find(key).name %></i></div><div class="col_center"><%= value %>*<%= Item.find(key).cost%><b><div class="col_right"><%= value*Item.find(key).cost %> рублей</div></b></div><br>
    <% end %>
    </center>
<% end %>
<hr style="border-top: 1px solid black;">
<div class="col_left">Итого</div> <div class="col_right"><strong><h4><%= @order.sum %> рублей</h4></strong></div><br><br>
Оплата: <% if @order.nal then %>
  <i><b>оплата наличными</b></i>
<% else %>
  <i><b>безналичная оплата</b></i>
<% end %>
</h4>
<center><h3>СОХРАНИТЕ</h3>
<h4>эту квитанцию для получения готового белья!</h4></center>
</div>