<div class="container">
<div class="page-header"><h1>Список заказов</h1></div>
<%= link_to 'Показать все заказы', users_path, :class => "btn btn-default" %>
<%= link_to 'Показать заказы за неделю', users_week_path, :class => "btn btn-default" %>
<%= link_to 'Показать заказы за месяц', users_month_path, :class => "btn btn-default" %>
<div style = "float:right; margin-right: 5%;"><button type="button" class="btn btn-info" onclick="status_hide()">Показать не готовые</button>
<button type="button" class="btn btn-primary" onclick="status_show()">Показать готовые</button></div>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Телефон</th>
      <th>Статус</th>
      <th>Сумма</th>
      <th>Оплата</th>
      <th>Готовность</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
        <tr>
          <td><%= order.user.name %></td>
          <td><%= order.user.surname %></td>
          <td>+7<%= order.user.phone %></td>
          <% if (order.user.status) then %>
            <td>Студент/пенсионер</td>
          <% else %>
            <td>Без льгот</td>
          <% end %>
          <td><%= order.sum %> рублей</td>
          <% if order.nal then %>
            <td><i>оплата наличными</i></td>
          <% else %>
            <td><i>безналичная оплата</i></td>
          <% end %>
          <td><% if order.status %>
            <div class="btn-group-sm"><button class="btn btn-default status_finish" disabled>Заказ готов</button></div>
          <% else %>
            <div class="btn-group-sm"><%= link_to 'Готово', update_user_path(order.id), method: :put, :class => "btn btn-success status_not" %></td></div>
          <% end %>
          <td><%= link_to 'Показать заказ', order %></td>
          <td><%= link_to 'Удалить заказ', order, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        </tr>
      <% end %>
  </tbody>
</table>
<br>
<div style="float:right; margin-right: 10%"><%= will_paginate @orders, :previous_label => "Назад", :next_label => "Вперед", :class => "pagination pagination-sm" %></div>
<%= link_to 'Новый заказ', new_user_path, :class => 'btn btn-success' %>
<%= link_to "Перевести в Excel", users_path(:format => "xls"), :class => "btn btn-default" %>
</div>